[submodule "third-party/ofxGrt"]
	path = third-party/ofxGrt
	url = git@github.com:nebgnahz/ofxGrt.git
[submodule "third-party/grt"]
	path = third-party/grt
	url = git@github.com:damellis/grt.git
[submodule "openFrameworks"]
	path = third-party/openFrameworks
	url = git@github.com:openFrameworks/openFrameworks.git
[submodule "Arduino/libraries/grt"]
	path = Arduino/libraries/grt
	url = https://github.com/damellis/grt.git
	branch = avr
[submodule "third-party/SpaceInvaders"]
	path = third-party/SpaceInvaders
	url = https://github.com/damellis/Processing_SpaceInv.git
[submodule "third-party/ofxDatGui"]
	path = third-party/ofxDatGui
	url = https://github.com/braitsch/ofxDatGui.git
